/* url(./assets/bg.png) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html { 
  background: black no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  margin:0;
}
*{
  --primary : #3700b3;
  --secondary :rgba(187, 134, 252,0.8);
  --ternary:#03DAC6;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

/* taskbar component */

.taskbar_holder{
  color: azure;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height:10vh;
  background: var(--primary);
  padding:0px 10px 0px 10px;
  box-shadow: 0px 0px 10px 0px rgba(0 ,0,0,0.6);
  position: sticky;
  top:0%;
}
.taskbar_content{
  display: flex;
  align-items: center;
  width:60%;
}
.taskbar_home{
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  display: block;

}
.links{
  width:50%;
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.links a{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
.bun{
  display:none;
}
.bun_menu_items{
  display: none;}
.bun_menu{
    display: none;}

.links_anchor{
  text-decoration: none;
  color:var(--ternary);
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
}
.links_anchors{
  text-decoration: none;
  color:var(--ternary);
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}
.logo_img{
  height: 60px;
  width: 100px;
  filter:drop-shadow(2px 4px 8px #585858);
  animation: logoanimate 2s infinite;
  animation-direction: alternate;
}




/* home component */

.home{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.home h1{
  color:var(--ternary);
  font-size: 2rem;
}
.card_holder{
  width:90%;
  height:95vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap:10px;
}



/* card component */
.card{
  width:200px;
  height:200px;
  background:var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--ternary);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px var(--secondary);
}
.card_img{
  width:100%;
  height:70%;  
  position: relative;
}
.card_img img{
  width:100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
}
.card_img h4{
  position: absolute;
  z-index: 2;
  margin-top: 10px;
  color:var(--ternary);
  top:0;
}

/* seacrh component */
.search{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.search_box{
  margin-top: 20px;
  width:90%;
  height: 80vh;
  background: rgba(187, 134, 252,0.6);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.search_bar{
  height:10%;
  width:80%;
  margin-top:10px;
  position: relative;
  box-shadow: 1px 1px 5px 2px var(--secondary);
}
.search_bar input{
  height: 100%;
  width:100%;
  background: transparent;
  box-shadow: transparent;
  font-size: 2rem;
  text-align: center;
}
.search_bar img{
  position: absolute;
  height:100%;
  width:10%;
  top:0%;
  left:5%;
}
.search label{
  margin-top: 20px;
  font-size: 2rem;
}
.button_box{
  box-shadow: 1px 1px 5px 2px var(--secondary);
  height:10%;
  width:20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
}
.result{
  margin-top: 10px;
  height:60%;
  width:95%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow-y: scroll;
  gap:20px;
}

::-webkit-scrollbar{
  background: transparent;
  width:10px;
}
::-webkit-scrollbar-track{
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background: grey;
  border-radius: 5px;
}


/* edit */
.edit{
  margin-left:auto;
  width:100%;
  height:90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.dropdown{
  flex:1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.dropdown select{
  width:100%;
}
.dropdown select option{
  color:black;
}
.field{
  flex:3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  border:2px solid black;
}
.field input{
  width:400px;
}

.edit_box{
  margin: 20px 20px 10px 20px;
  width:100%;
  height: 80vh;
  background: rgba(187, 134, 252,0.6);
  display: flex;
  flex-wrap: wrap;
  align-items:flex-start;
  justify-content: space-between;
}





@keyframes logoanimate{
  from{transform:scale(1.5,1.5)}
  to{transform:scale(2,2)}
}


@media only screen and (max-width: 768px){
  .support,.home,.contact,.about{
    margin :20px 50px 20px 50px;
  }
  .taskbar_content{
    display: none;
  }
  
  .taskbar_holder{
    box-shadow:0px 0px 0px 0px ;
  }
  .bun{
    display: block;
  }
  
  .bun_menu{
    display: block;
    background: var(--primary);
    opacity: 0.8;
    padding:2px 0px 2px 0px;
    overflow: hidden;
    position: relative;
    height:0px;
    transition: height 2px;
  }
  .bun_menu_items{
    display: flex;
    color:white;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    
  }
  }